/* VARIABLES */
:root
{
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --primary: #DC4F72;
    --bg-color: #FFF;
    --light-bg-color: #F7F9FC;
    --border-color: #eee;
}

/* COMMON */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Nunito", sans-serif;
}

.container
{
    max-width: 1200px;
}

.dark-theme-toggle
{
    background-color: var(--bg-color);
}

.btn-outline-primary
{
    border-color: var(--primary);
    transition: all 1s;
    height: 50px;
}

.btn-outline-primary:hover
{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary a
{
    color: var(--primary);
    font-weight: 500;
    font-size: 14px;
    transition: all 1s;
    text-decoration: none;
}

.btn-outline-primary:hover a
{
    color: white;
}

.btn-primary
{
    background-color: var(--primary);
    border-color: var(--primary);
    height: 50px;
    width: auto;
    transition: all 1s;
}

.btn-primary:hover
{
    background-color: #d62f58;
    border-color: #cf2952;
}

.btn-primary a
{
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.small-titles
{
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
}

.p-title
{
    width: 70%;
    margin: auto;
    color: var(--text-color);
}

@media screen  and (max-width: 768px) {
    .p-title
    {
        width: 90%;
    }
}

.expand-arrow-down
{
    width: 0;
    height: 0;
    border-top: 12px solid #c1c1c1;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.expand-arrow-up
{
    width: 0;
    height: 0;
    border-bottom: 12px solid #c1c1c1;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

button a
{
    text-decoration: none;
}


/* HEADER */
header
{
    height: 90px;
    background: var(--bg-color);
}

@media screen and (max-width: 991px)
{
    header
    {
        height: auto;
        padding: 15px 0;
    }
}

.fixed-top
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

header a
{
    text-decoration: none;
    font-size: 16px;
}

.navbar-brand
{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary);
}

.navbar .navbar-brand
{
    color: var(--primary);
}

.navbar-nav
{
    margin-right: 10px;
}

.navbar-nav .nav-link
{
    color: var(--text-color);
}

.nav__search--link
{
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background: var(--light-bg-color);
    padding: 5px 7px;
    margin-right: 15px;
}

.nav__search--link i
{
    font-size: 15px;
    color: var(--text-color);
}

.nav__search--link:hover i
{
    color: var(--title-color);
}

.nav__search--bg
{
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav__search--popup
{
    display: flex;
    justify-content: center;
    margin-top: 50vh;
}

.nav__search--popup button
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#navSearchInputId
{
    height: 50px;
    width: 400px;
    border: 1px solid var(--border-color);
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    padding: 15px;
}

.nav__search--popup a
{
    color: #fff;
    transform: translateY(-80px) translateX(-20px);
    font-size: 30px;
    font-weight: 700;
}


.nav-item
{
    position: relative;
}

.navbar-nav .nav-link
{
    text-align: center;
    position: relative;
}

.navbar-nav .nav-link.show
{
    color: var(--text-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover
{
    color: var(--primary);
}

.nav-item .nav-link::before,
.dropdown-menu .dropdown-item::before
{
    content: "";
    background: var(--primary);
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 2px;
    transition: all .5s;
}

.nav-item .nav-link:hover::before,
.dropdown-menu a:hover::before
{
    width: 20px;
}

.dropdown-menu
{
    background: var(--bg-color);
    border: 1px solid var(--border-color);
}

.dropdown-menu[data-bs-popper]
{
    left: -60%;
}

.dropdown-menu::before
{
    content: '';
    width: 14px;
    height: 14px;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) translateY(-15px) rotateZ(45deg);
    position: absolute;
    left: 49%;
    z-index: 1001;
}

.dropdown-menu .dropdown-item
{
    color: var(--title-color);
    text-align: center;
    position: relative;
}

.dropdown-menu .dropdown-item:hover
{
    background: var(--bg-color);
}

.navbar-toggler
{
    background: var(--primary);
    padding: 0.25rem;
}

.navbar-toggler:focus
{
    border: none;
}

.navbar-toggler .navbar-toggler-icon
{
    color: #fff;
    background: transparent;
    line-height: 32px;
    font-weight: 700;
}

@media (max-width: 991px)
{
    #theme-toggle
    {
        position: absolute;
        top: 20px;
        right: 100px;
    }
    .navbar-toggler
    {
        position: absolute;
        top: 10px;
        right: 40px;
    }
}

#theme-toggle:hover
{
    cursor: default;
}

/* CAROUSEL */
.carousel
{
    background-image: linear-gradient(to right, var(--bg-color), rgba(255,255,255,0.9)), url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 90px;
}

.carousel__content h1
{
    font-size: 46px;
    font-weight: 700;
    color: var(--title-color);
}

.carousel__content p
{
    font-size: 20px;
    line-height: 28px;
    color: var(--text-color);
}


/* FEATURES */
.features h1
{
    color: var(--title-color);
    font-weight: 700;
}

.features__content
{
    margin-top: 60px;
}

.features__content h3
{
    color: var(--title-color);
}

.features__content p
{
    color: var(--text-color);
}

.features__item--wrapper
{
    padding-right: 15px;
    background-color: var(--light-bg-color);
    padding: 3rem 2rem;
    transition: all 0.5s;
}

.features__item--wrapper:hover
{
    background-color: var(--bg-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-10px);
    cursor: pointer;
}

/* ABOUT US */
.aboutUs
{
    background-color: var(--light-bg-color);
}

.aboutUs__intro__content
{
    padding-right: 40px;
}

.aboutUs__intro__content h1
{
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    color: var(--title-color);
}

.aboutUs__intro__content p
{
    color: var(--text-color);
}

.aboutUs__intro img
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    transition: all 0.5s;
}

.aboutUs__intro img:hover
{
    transform: translateY(-10px);
}

.aboutUs__numbers__item
{
    padding-right: 15px;
}

.aboutUs__numbers__item--wrapper
{
    background-color: var(--bg-color);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aboutUs__numbers__item--wrapper h6
{
    font-weight: 700;
    color: var(--title-color);
}

.aboutUs__numbers__item--wrapper p:first-of-type
{
    color: var(--primary);
    font-size: 50px;
    font-weight: 700;
}

.aboutUs__numbers__item--wrapper p:last-of-type
{
    color: var(--text-color);
}

.hover__up
{
    transition: all 0.5s;
}

.hover__up:hover
{
    transform: translateY(-10px);
}


/* QUOTES */
.quotes
{
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.3)),url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #eee;
}

.quotes__content
{
    width: 70%;
}

@media screen and (min-width: 992px) {
    .quotes__content
    {
        width: 50%;
    }
}

.quotes__content h3
{
    font-weight: 700;
}

.quotes__content button a
{
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

/* Q&A */
.faq
{
    background-color: var(--light-bg-color);
}

.faq__title h1
{
    color: var(--title-color);
    font-weight: 700;
}

.faq__content img
{
    max-width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s;
    border-radius: 5px;
}

.faq__content img:hover
{
    transform: translateY(-10px);
}

.faq__item
{
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.faq__item h5
{
    font-size: 20px;
    color: var(--title-color);
}

.faq__item span
{
    font-size: 20px;
    color: var(--title-color);
}

.faq__item p
{
    transition: all .5s;
    margin-bottom: 0;
    font-size: 16px;
    color: var(--text-color);
}

.faq__item--toggle-hidden
{
    opacity: 0;
    max-height: 0;
    transform: translateY(50%);
}


/* SHOWCASES */
@media  screen and (min-width: 768px) {
    .showcases__content,
    .showcases__title
    {
        width: 83.33%;
        margin: auto;
    }
}

.showcases__title h1
{
    color: var(--title-color);
    font-weight: 700;
}

.showcases__content .nav-tabs .nav-link
{
    width: 33.3333%;;
    border: none;
    border-bottom: 3px solid rgb(193,193,193);
    color: var(--title-color);
    font-size: 22px;
    font-weight: 700;
    background: var(--bg-color);
}

.showcases__content .nav-tabs .nav-link:hover,
.showcases__content .nav-tabs .nav-link.active
{
    border: none;
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    font-size: 22px;
    font-weight: 700;
}

/* Width <= 768px */
@media screen and (max-width: 768px) {
    .showcases__content
    {
        border: 1px solid rgb(193,193,193);
    }

    .nav-md-tab
    {
        display: flex!important;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid rgb(193,193,193);
    }

    .nav-md-tab.active
    {
        border-bottom: 3px solid var(--primary);
    }

    .nav-md-tab h2
    {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
        color: var(--title-color);
    }

    .nav-md-tab.active h2 
    {
        color: var(--primary);
    }

   .tab-pane
   {
        animation: fadeInDown .5s both;
   } 

   .tab-pane.active
   {
        transform: translateY(0);
   }
}

@keyframes fadeInDown {
   0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -10%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    } 
}
/*-------------------------------------------------*/

.showcases__content__details h3
{
    color: var(--title-color);
}

.showcases__content__details p
{
    color: var(--text-color);
}

.showcases__content__details--image img
{
    border-radius: 5px;
}



/* FEEDBACKS */
.feedbacks
{
    background-image: linear-gradient(to right, var(--bg-color), rgba(255,255,255,0.9)), url("../img/b2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.feedbacks__title h1
{
    color: var(--title-color);
    font-weight: 700;
}

.feedbacks__item
{
    background-color: var(--bg-color);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 5px;
    width: 100%;
    margin-right: 20px;
}

.img-circle
{
    border-radius: 50%;
    border: 3px solid var(--primary);
    width: 100px;
    height: 100px;
    overflow: hidden;
    padding: 0;
}

.feedbacks .owl-carousel .img-circle img
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

.feedbacks .owl-carousel span
{
    text-align: center;
    color: rgb(193,193,193);
    font-size: 30px;
}

.feedbacks .owl-carousel .feedbacks__item__msg h4
{
    color:var(--primary);
}

.feedbacks .owl-carousel .feedbacks__item__msg p:first-of-type
{
    font-size: 18px;
    color: var(--title-color);
}

.feedbacks .owl-carousel .feedbacks__item__msg p:last-of-type
{
    font-size: 13px;
    color: var(--text-color);
}

.owl-nav
{
    opacity: 0;
}

.owl-carousel button.owl-dot
{
    width: 50px;
    height: 5px;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 10px;
}

.owl-carousel button.owl-dot:hover,
.owl-carousel button.owl-dot.active
{
    background-color: var(--primary);
}

.owl-carousel button.owl-dot span
{
    opacity: 0;
}

/* CONFIRMATION */
.confirmation h1
{
    color: var(--title-color);
    font-weight: 700;
}

/* FOOTER */
footer
{
    background-color: var(--light-bg-color);
}

.footer__content--title
{
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--title-color);
    font-weight: 700;
}

.footer__content ul
{
    padding: 0;
}

.footer__content ul li
{
    list-style: none;
    margin-bottom: 10px;
}

.footer__content ul li a
{
    text-decoration: none;
    color: #656f7b;
    transition: all .5s;
}

.footer__content ul li a:hover
{
    color: var(--primary);
}

.footer__content--subscribe
{
    border-radius: 5px;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer__content--subscribe h4
{
    font-size: 14px;
    color: var(--title-color);
}

.footer__content--subscribe p
{
    color: var(--text-color);
}

.footer__content--subscribe input
{
    height: 50px;
    padding-left: 10px;
    border: none;
    background: var(--light-bg-color);
    width: 70%;
    margin-right: 10px;
    border-radius: 5px;
}

.footer__info
{
    border-top: #eee 1px solid;
    color: #656f7b;
}

.footer__info .footer__info--copyright
{
    color: var(--text-color);
}

.footer__info a
{
    text-decoration: none;
    color: var(--title-color);
    transition: all 0.5s;
}

.footer__info a:hover
{
    color: var(--primary);
}

/* BACK TO TOP */
.back__to__top
{
    width: 50px;
    height: 50px;
    background-color: #DC4F72;
    opacity: 0.7;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    visibility: hidden;
}

.back__to__top:hover
{
    opacity: 5;
}

.cd-top--is-visible
{
    visibility: visible;
}